@page
@model MiniatureWebApp.Pages.PowerStations.IndexModel

@{
    ViewData["Title"] = "Power Stations";
}

<h1>Power Stations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Power Station Name: <input type="title" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Name)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Latitude)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].PhoneNumber)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PowerStation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            -->

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="/Inspections/Create" asp-route-name="@item.Name">New Inspection</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
