@page
@model MiniatureWebApp.Pages.PowerStations.IndexModel

@{
    ViewData["Title"] = "Power Stations";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<h1>Power Stations</h1>
<p>
    <a button type="button" class="btn btn-success" asp-page="Create">New Power Station</a>
</p>

<form>
    <p>
        Power Station Name: <input type="title" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PowerStation[0].Name)</th>
            
            <!--
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerStation[0].Latitude)
            </th>
            -->

            <th>@Html.DisplayNameFor(model => model.PowerStation[0].PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.PowerStation[0].Address)</th>
            <th></th> <!--The buttons are displayed under this column-->
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.PowerStation) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a button type="button" class="btn btn-success" asp-page="/Inspections/Create" asp-route-powerStationName="@item.Name">New Inspection</a>
                <a button type="button" class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a button type="button" class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a button type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
