@page
@model MiniatureWebApp.Pages.Inspections.IndexModel

@{
    ViewData["Title"] = "Inspections";
    
    //Filter by Status
    List<SelectListItem> inspectionStatus = new List<SelectListItem>();
    inspectionStatus.Add(new SelectListItem() { Text = "PASS", Value = "PASS" });
    inspectionStatus.Add(new SelectListItem() { Text = "FAIL", Value = "FAIL" });
    inspectionStatus.Add(new SelectListItem() { Text = "SCHEDULE", Value = "SCHEDULE" });
}

<h1>Inspections</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].PowerStation)

                <select id="Selector">
                    <option value="white">White</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                </Select>
                
                @Html.DropDownList("Power Stations Filter", ViewBag.PowerStationSelectList as SelectList, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].InspectorName)
                @Html.DropDownList("Inspector Name Filter", ViewBag.InspectorNameList as SelectList, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Status)
                @Html.DropDownList("Status Filter", inspectionStatus, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inspection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<script type = "text/javascript" src="~/js/filter.js"></script>                  

<script>
    document.getElementById("Selector").onchange = changeListener;
    document.getElementById("Power_Stations_Filter").onchange = powerStationFilter;
</script>
