@page
@model MiniatureWebApp.Pages.Inspections.IndexModel

@{
    ViewData["Title"] = "Inspections";
    List<SelectListItem> List1 = new List<SelectListItem>();
    List1.Add(new SelectListItem() { Text = "Apple" });
    List1.Add(new SelectListItem() { Text = "Banana" });
}

<h1>Inspections</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].PowerStation)
                @Html.DropDownList("Power Stations Filter", ViewBag.PowerStationList as SelectList, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].InspectorName)
                @Html.DropDownList("Inspector Name Filter", ViewBag.InspectorNameList as SelectList, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Status)
                @Html.DropDownList("Status Filter", ViewBag.StatusList as SelectList, "All")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspection[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inspection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
